body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

footer p {
    color: #999;
    font-size: 14px;
}

.perfil-card {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.perfil-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.perfil-card ul {
    list-style-type: none;
    padding: 0;

    display: flex;
    justify-content: center;
    gap: 30px;
}

.perfil-card ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.perfil-card ul li a:hover {
    color: #007BFF;
}

h1, h2 {
    color: #333;
}

p {
    color: #666;
}
